#vef_field_div {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.con-select{
  width: unset;
}

.vs-con-input-label{
  width: inherit;
}

.con-vs-checkbox{
  justify-content: flex-start;
}

.vs-checkbox--input {
  margin-left: -1rem;
}

.vuesax-app-is-ltr .vs-checkbox{
  margin-right: 1rem;
}

.material-icons{
  display: none;
}

.vs-button-primary.vs-button-filled{
  background: var(--primary) !important;
}

.vs-button-primary.vs-button-filled:hover{
  box-shadow: 0 8px 25px -8px rgba(var(--primary),1);
}